
.property-box {
	background-color: #fff;
	border: 2px solid #513387;
	/*margin-bottom: 30px;*/
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-align: center;
}

h3.property-box-title, .property-box-title.property-detail-subtitle, h3.property-box-title a, .property-box-title.property-detail-subtitle a {
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	margin: 0px 0px 10px 0px;
	text-decoration: none;
}
h3.property-box-title a {color: #513387 !important;}
div.property-box-subtitle, div.property-box-subtitle {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
	padding-bottom: 15px;
	position: relative;
}
div.property-box-subtitle .field-value, div.property-box-subtitle .field-value {
	line-height: 1.6;
}
div.property-box-subtitle a, div.property-box-subtitle a {
	
	margin-bottom: 0px;
}
.custom-grid-desc {
	font-size: 14px;
	margin-top: 0 !important;
	text-overflow: ellipsis;
	overflow: hidden;
	whitespace: no-wrap;
	height: 85px;
/* max-height: 60px; */
}
.property-box-picture {
	margin-bottom: -25px;
	margin-left: -20px;
	margin-right: -20px;
	position: relative;
}
.property-box-price {
	background-color: rgba(255,255,255,0.85);
	color: #19a0d8;
	display: block;
	font-size: 16px;
	font-weight: bold;
	left: 0px;
	padding: 8px 0px;
	position: absolute;
	right: 0px;
	top: 2px;
	width: 100%;
	z-index: 999;
}
.field-item .field-value, .field-item .field-suffix, .field-item .field-prefix {
	display: inline-block;
}
.property-box-picture-inner {
	bottom: -2px;
	margin-left: -2px;
	margin-right: -2px;
	position: relative;
	z-index: 1;
}
.property-box-picture-inner a, .property-row-picture-inner a, .property-small-picture-inner a, .agent-box-picture-inner a, .agent-row-picture-inner a, .agent-small-picture a, .agency-row-picture a, .infobox-picture a, .post-picture a {
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
}
.property-box-picture-target img {
	width: 100%;
}
#pin-columns {
	column-count: 4;
	column-gap: 10px;
	column-fill: auto;
	-webkit-column-count: 4;
	-webkit-column-gap: 10px;
	-webkit-column-fill: 0;
	-moz-column-count: 4;
	-moz-column-gap: 10px;
	-moz-column-fill: 0;
	
}

#pin-columns-news {
	column-count: 1;
	column-gap: 10px;
	column-fill: auto;
	-webkit-column-count: 1;
	-webkit-column-gap: 10px;
	-webkit-column-fill: 0;
	-moz-column-count: 1;
	-moz-column-gap: 10px;
	-moz-column-fill: 0;
	
}

.pin-news {
	display: inline-block;
	background: #550464;
	width: 100%;
	margin: 0 0px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 1px;
	padding-bottom: 5px;
	overflow: hidden;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	background-color: #fff !important;
}

.pin {
	display: inline-block;
	background: #550464;
	width: 100%;
	margin: 0 0px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 1px;
	padding-bottom: 5px;
	overflow: hidden;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	background-color: #fff !important;
}

.pin-news img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}
.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}
.pin a {
	color: #DB21DB;
	text-decoration: none;
}

.pin-news p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}
.pin-news a {
	color: #DB21DB;
	text-decoration: none;
}

.link-green > a {
	color: #DB21DB !important;
	text-decoration: none;
}
.image-show img{
	width: 100%;
	height: auto;
}
.field-value a { font-size: 12px; color: #F47920 !important; text-decoration: none;}
#hf-property-overview { margin-top: 10px;}
#hf-property-overview tr {border-bottom: 1px solid #EEEE14;}
.bordered {
	border: 2px solid #fff;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}
.form-required { color: #EE3333; margin-left: 5px;}
.btn-custom {
	background-color: #F47920;
	border-color: #F47920;
	color: #fff;
}
#contact-form { width: 480px;}
#bkm-link {
	position: relative;
	top: -140px;
	left: 780px;
}

#error-list {
	margin-left: 40px;
}
.alert-success {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.field_with_errors textarea, .field_with_errors input, .field_with_errors select {
	border: 1px solid #ff0000;
}
#product-table {
	width: 680px;
	/*border: 1px solid red;*/
}
.product-table-block {
	width: 170px;
	padding: 2px;
}
.product-table-block table {
	width: 162px;
/*	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 2px solid #513387;
	border-collapse: separate;
	border-spacing: 0px;*/
}

.product-item {
	border: 2px solid #513387;
}
.product-details-box {
	height: 260px;
}
.product-img {
	height: 100px;
}
.product-img img {
	width: 100%;
	height: 100px;
}
.product-code {
	text-align: center;
	overflow: hidden;
	font-weight: bold;
	background-color: #F47920;
}
.product-code a {
	color: #fff !important;
	text-decoration: none;
}
.product-detail {
	padding: 5px;
	height: 115px;
	font-size: 12px;
	overflow: hidden;
}
.product-price {
	text-align: center;
	color: #513387;
	font-size: 16px;
	font-weight: bold;
}
.news-item {
	margin-bottom: 10px;
	height: 200px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	overflow: hidden;
}
.news-detail-img {
	width: 30%;
	float:left;
}
.news-item img {
	width: 200px;
	height: auto;
}
.news-item a {
	text-decoration: none;
	font-size: 16px;
	color: #513387;
}
.news-detail-content {
	text-align: justify;
	overflow: hidden;
	padding: 5px 10px 10px 0;
	height: 185px;
	width: 68%;
}
.news-title {
	width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.news-show-title {
	width: 700px;
	overflow: hidden;
}

.pagination {
	width: 100%;
	text-align: center;
}
.pagination  a {
	color: #F47920 !important;
	text-decoration: none !important;
	font-weight: bold;
}
