<div class="fbg">
    <div class="fbg_resize">
      <div class="col">
        <h2><span>Contact Us</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum. <%=link_to "ส่งข้อความถึงเรา", contacts_url, :style => "color: #F47920; font-weight: bold;"%></p>
      </div>

      <div class="clr"></div>
</div>