<div class="fbg">
    <div class="fbg_resize">
      <div class="col">
        <h2><span>Contact Us</span></h2>
        <p> <%=@setting.contact_us_footer%> <%=link_to "ส่งข้อความถึงเรา", contacts_url, :style => "color: #F47920; font-weight: bold;"%></p>
      </div>

      <div class="clr"></div>
</div>